 <% if @registered_application.destroyed? %>
   $('#registered_application-<%= @registered_application.id %>').fadeOut(1300);
 <% else %>
   $('.flash').prepend("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash.now[:alert] %></div>");
 <% end %>